{% extends 'base.html.twig' %}

{% block body %}
<html>
<p>
<body>
<Center>
<h1>Bienvenue</h1> <br> <h3></h3> </br>
<I><b><br>{{ms}}</br></b></I>


<form method="post" action="/deco">
          <br><button type="submit" class="btn btn-primary">Déconnexion</button>
</Center>
            </body>
</html>
{% endblock %}

